<footer id="footer">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled list-inline">
        <li><a href="https://www.facebook.com/ChirapaqNan" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-chirapaqnan.png"
            alt="Chirapaq Ñan" title="Chirapaq Ñan"></img>
        </a></li>
        <li><a href="http://www.cipotato.org" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-cip.png"
            alt="CIP" title="CIP"></img>
        </a></li>
        <li><a href="http://www.hopeperu.org" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-hope.png"
            alt="HoPe" title="HoPe"></img>
        </a></li>
        <li><a href="http://www.connect4change.nl" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-c4c.png"
            alt="Connect4Change" title="Connect4Change"></img>
        </a></li>
        <li><a href="http://www.edukans.nl/" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-edukans.png"
            alt="Edukans" title="Edukans"></img>
        </a></li>
        <li><a href="http://www.iicd.org/" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-iicd.png"
            alt="IICD" title="IICD"></img>
        </a></li>
        <li><a href="http://www.yanapai.org/" target="_blank"
          ><img class="logo-icon" src="assets/images/web/logo/logo-yanapai.png"
            alt="yanapai" title="Yanapai"></img>
        </a></li>
      </ul>
    </div>
</footer>
