<footer id="footer">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled list-inline">
        <li><a href="#"><img class="logo-icon" src="assets/images/web/logo/logo-chirapaqnan.png"></img></a></li>
        <li><a href="#"><img class="logo-icon" src="assets/images/web/logo/logo-usaid.png"></img></a></li>
        <li><a href="#"><img class="logo-icon" src="assets/images/web/logo/logo-fontagro.png"></img></a></li>
        <li><a href="#"><img class="logo-icon" src="assets/images/web/logo/logo-iniap.png"></img></a></li>
        <li><a href="#"><img class="logo-icon" src="assets/images/web/logo/logo-cip.png"></img></a></li>
      </ul>
    </div>
</footer>
