<script type="text/javascript">__meteor_runtime_config__ = {"meteorRelease":"0.8.3","ROOT_URL":"","ROOT_URL_PATH_PREFIX":"","DDP_DEFAULT_CONNECTION_URL":""};</script>
<script type="text/javascript" src="assets/js/papitas.js"></script>
<link rel="stylesheet" href="assets/css/papitas.css?meteor_css_resource=true">

<script type="text/javascript">
  Template.__body__.__isInstantiated = true;
  if (typeof Package === 'undefined' ||
      ! Package.webapp ||
      ! Package.webapp.WebApp ||
      ! Package.webapp.WebApp._isCssLoaded())
    document.location.reload(); 
  Meteor.startup(function () {
    Template.__body__.__isInstantiated = true;
    var template = Template['{{include.template}}']
    var range = Blaze.render(template);
    template.__view = range.view;
    range.attach(document.querySelector('#meteor-container'));
  });
</script>
