@width: 160px;
@height: 240px;

.experto-papa {
  width: @width;
  height: @height;
  background-size: @width * 2 @height;
  @media print {
    background-size: @width @height;
  }
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 100;

  .centro {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
