.rompecabezas-container, canvas {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#actionToggleSound {
	position: absolute;
	top: 15px;
	right: 15px;
}

// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('/assets/fonts/glyphicons-halflings-regular.eot');
//   src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
// }
