---
layout: default
meteorInclude: true
---

<div class="row navbar">
  <div id="juego-header" class="col-lg-offset-2 col-lg-3 col-md-offset-2
    col-md-3 col-sm-4 col-xs-8 col-xs-offset-2 text-center">
    <a href="index.html">
      <h3>
        Las PAPITAS
        <span><br/></span>
        de mi COMUNIDAD
      </h3>
    </a>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-2 col-xs-4 text-center">
    <ul class="nav nav-pills nav-papas">
      <li></li>
      <li></li>
      <li><a href="sobre-nosotros.html"><h5>sobre nosotros</h5></a></li>
    </ul>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-2 col-xs-4 text-center">
    <ul class="nav nav-pills nav-papas">
      <li {% if page.active == 'rompecabezas' %} class="active" {% endif %}>
        <a href="rompecabezas.html"><h5>rompe cabezas</h5></a>
      </li>
    </ul>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-2 col-xs-4 text-center">
    <ul class="nav nav-pills nav-papas">
      <li></li>
      <li{% if page.active == 'experto' %} class="active" {% endif %}
        ><a href="experto.html"><h5>experto en papa</h5></a></li>
    </ul>
  </div>
</div>

<div class="row">
  {{content}}
</div>
