---
layout: default
bodyClass: juego
meteorInclude: true
---

<div class="row navbar">
  <div id="juego-header" class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-1 col-sm-4 text-center">
    <a href="index.html">
      Las PAPITAS <br/>
      de mi COMUNIDAD
    </a>
  </div>
  <div id="home-sidebar" class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-6 col-sm-offset-0 col-sm-7 text-center">
    <ul class="nav nav-pills nav-papas">
      <li {% if page.active == 'rompecabezas' %} class="active" {% endif %}>
        <a href="rompecabezas.html">rompe cabezas</a>
      </li>

      <li{% if page.active == 'experto' %} class="active" {% endif %}
        ><a href="experto.html">experto en papa</a></li>
        
      <li{% if page.active == 'sobre-nosotros' %} class="active" {% endif %}
        ><a href="sobre-nosotros.html">sobre nosotros</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    {{content}}
  </div>
</div>
