.grumble{
  background-image: url(../images/bubble-sprite.png);
}

.vertical-aligned(@percent: 50%) {
  position: relative;
  top: @percent;
  transform: translateY(@percent * -1);
}

h1#rompecabezas {
  @media (max-width: @screen-sm-min ) {
    font-size: @font-size-h3;
  }
}

h3 {
  @media (max-width: @screen-sm-min ) {
    font-size: @font-size-h4;
  }
}

h5 {
  @media (max-width: @screen-sm-min ) {
    font-size: @font-size-h5;
  }
}

.indicadores {
  pointer-events: none;
}

.narracion-controls {
  margin-top: 20px;
  @media (max-width: @screen-sm-min ) {
  }
}

.rompecabezas-container, canvas {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#actionToggleSound {
	position: fixed;
	top: 15px;
	right: 15px;
  z-index: 1000;
}

// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('/assets/fonts/glyphicons-halflings-regular.eot');
//   src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
// }

@width-lg: 160px;
@height-lg: 240px;
@width-md: 134px;
@height-md: 200px;
@width-sm: 107px;
@height-sm: 160px;
@width-xs: 80px;
@height-xs: 120px;

.experto {
  .container {
    @media (max-width: @screen-md-min) {
      padding: 0;
    }
  }
}

.experto-papa {
  &:hover {
    cursor: pointer;
  }
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 100;

  .centro {
    .vertical-aligned();
  }

  .papa(@width, @height) {
    width: @width;
    height: @height;
    background-size: @width * 2 @height;
    &.active {
      background-position: @width * -1;
    }
  }

  .papa(@width-lg, @height-lg);

  @media print {
    background-size: @width-lg @height-lg;
  }

  @media (max-width: @screen-xs-min) {
    .papa(@width-xs, @height-xs);
  }

  @media (max-width: @screen-sm-min) {
    .papa(@width-xs, @height-xs);
  }

  @media (max-width: @screen-md-min) {
    .papa(@width-sm, @height-sm);
  }
}

.papas-muestrario {
  @media (min-width: @screen-md-min ) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.experto-papa-detalles {
  & > .row {
    margin-left: 15px;
    margin-right: 15px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: @screen-md-min) {
      font-size: @font-size-h4;
    }
  }

  h4 {
    @media (max-width: @screen-md-min) {
      font-size: @font-size-h5;
    }
  }

  h5 {
    @media (max-width: @screen-md-min) {
      font-size: @font-size-h6;
    }
  }

  border-style: solid;
  border-width: 39px 0px 23px;

  .border-image(@image) {
    -moz-border-image: url(@image) 105 0 52 repeat;
    -webkit-border-image: url() 105 0 52 repeat;
    -o-border-image: url(@image) 105 0 52 repeat;
    border-image: url(@image) 105 0 52 fill repeat;
  }

  .border-image('../images/experto/banderola.png');

  @media print {
    .border-image('../images/experto/banderola-print.png');
  }
}

.experto-incognitas {
  @color-1-ini: #be202e;
  @color-1-fin: #ef4237;
  @color-2-ini: #008cb6;
  @color-2-fin: #00b5eb;
  @color-3-ini: #6cbe45;
  @color-3-fin: #80c342;
  @color-4-ini: #d91e5d;
  @color-4-fin: #eb307e;
  @color-5-ini: #fdc20f;
  @color-5-fin: #f6d33a;

  .experto-incognita {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px dashed black;
    .incognita-size(@width, @height) {
      width: @width;
      height: @height / 2;
    }

    .incognita-size(@width-lg, @height-lg);

    @media (max-width: @screen-xs-min) {
      .incognita-size(@width-lg / 3, @height-lg / 2);
    }

    @media (max-width: @screen-sm-min) {
      .incognita-size(@width-lg / 2, @height-lg / 1.5);
    }

    @media (min-width: @screen-md-min) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .experto-incognita-pos( @pos, @color-ini, @color-fin ) {
    :nth-child( @{pos} ) {
      .experto-incognita {
        .chakana {
          @icon-size: 25px;
          background: url("../images/experto/chakana.png");
          background-position: @icon-size*-1*(@pos - 1) 0;
          content: " ";
          height: @icon-size;
          width: @icon-size;
          margin: auto;
        }
        .papa-nombre {
          text-align: center;
          .vertical-aligned(20%);
          @media (max-width: @screen-md-min) {
            font-size: 16px;
          }
        }
        .linear-gradient-lighten(top, @color-ini, @color-fin);
        &.resuelta {
          .linear-gradient-darken(top, @color-ini, @color-fin);
        }
      }
    }
  }

  .experto-incognita-pos(1, @color-1-ini, @color-1-fin);
  .experto-incognita-pos(2, @color-2-ini, @color-2-fin);
  .experto-incognita-pos(3, @color-3-ini, @color-3-fin);
  .experto-incognita-pos(4, @color-4-ini, @color-4-fin);
  .experto-incognita-pos(5, @color-5-ini, @color-5-fin);
}

.linear-gradient( @dir: top, @start-color: #eee, @end-color: #aaa ) {
  background: -webkit-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: -moz-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: -ms-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: -o-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: linear-gradient(@dir, @start-color 0%, @end-color 100%);
  .linear-gradient-ie( @dir, @start-color, @end-color);
}

.linear-gradient-multi( ... ) {
  background-image: -webkit-linear-gradient(@arguments);
  background-image: -moz-linear-gradient(@arguments);
  background-image: -ms-linear-gradient(@arguments);
  background-image: -o-linear-gradient(@arguments);
  background-image: linear-gradient(@arguments);
}

.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = top), 
  not ( isstring(@dir) ) and ( @dir >= 225 ) and ( @dir < 315 ), 
  not ( isstring(@dir) ) and ( @dir >= -135 ) and ( @dir < -45 ) {
    .linear-gradient-ie-filter(@start-color, @end-color, 0);
}
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = right), 
  not ( isstring(@dir) ) and ( @dir >= 135 ) and ( @dir < 225 ), 
  not ( isstring(@dir) ) and ( @dir >= -225 ) and ( @dir < -135 ) {
    .linear-gradient-ie-filter(@end-color, @start-color, 1);
}
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = bottom), 
  not ( isstring(@dir) ) and ( @dir >= 45 ) and ( @dir < 135 ), 
  not ( isstring(@dir) ) and ( @dir >= -315 ) and ( @dir < -225 ) {
    .linear-gradient-ie-filter(@end-color, @start-color, 0);
}
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = left), 
  not ( isstring(@dir) ) and ( @dir >= 315 ) and ( @dir < 360 ), 
  not ( isstring(@dir) ) and ( @dir >= -45 ) and ( @dir < 45 ), 
  not ( isstring(@dir) ) and ( @dir < -315 ) and ( @dir >= -360 ) {
    .linear-gradient-ie-filter(@start-color, @end-color, 1);
}

.linear-gradient-ie-filter(@start: #eee, @end: #aaa, @type: 1) {
  @c-start: argb(@start);
  @c-end:   argb(@end);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{c-start}', endColorstr='@{c-end}', GradientType=@{type})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{c-start}',endColorstr='@{c-end}',GradientType=@{type})";
}

.linear-gradient-lighten( @dir: top, @start-color: #eee, @end-color: #aaa ) {
  .linear-gradient(top, lighten(@start-color, 10%), lighten(@end-color, 10%));
}

.linear-gradient-darken( @dir: top, @start-color: #eee, @end-color: #aaa ) {
  .linear-gradient(top, darken(@start-color, 5%), darken(@end-color, 5%));
}

#camion-container {
  position: absolute;
  top: 0;
  @media (max-width: @screen-xs-min) {
    margin-top: 70%
  }
  @media (min-width: @screen-xs-min) {
    margin-top: 60%
  }
  @media (min-width: @screen-sm-min) {
    margin-top: 50%
  }
  @media (min-width: @screen-md-min) {
    margin-top: 40%
  }
  @media (min-width: @screen-lg-min) {
    margin-top: 30%
  }
  z-index: 1000;
  pointer-events: none;

  svg {
    width: 100%;

    #camion {
      width: 30%;
    }
  }
}
