body {
  &.home {
    .container {
      @media (max-width: @screen-xs-min) {
        padding-top: 2em;
      }
      @media (min-width: @screen-xs-min) {
        padding-top: 2em;
      }
      @media (min-width: @screen-sm-min) {
        padding-top: 2em;
      }
      @media (min-width: @screen-md-min) {
        padding-top: 3em;
      }
      @media (min-width: @screen-lg-min) {
        padding-top: 4em;
      }
    }
  }
  &:not(.home) {
    .container {
      margin-top: 10px;
      padding: 1em;
      background-color: rgba(255, 255, 255, 0.5);
      .rounded(10px);
      margin-bottom: 120px;
    }
  }
}

.papas-header {
  font-family: 'Cabin Sketch', cursive;
  color: white;
  vertical-align: middle;
  text-align: center;
  
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

#home-header {
  @media (max-width: @screen-xs-min) {
    padding-top: .3em;
    font-size: @font-size-h3;
  }
  @media (min-width: @screen-xs-min) {
    padding-top: .3em;
    font-size: @font-size-h3;
  }
  @media (min-width: @screen-sm-min) {
    padding-top: 2em;
    font-size: @font-size-h2;
  }
  @media (min-width: @screen-md-min) {
    padding-top: 2.5em;
    font-size: @font-size-h2;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: 1.5em;
    font-size: @font-size-h1;
  }
  .papas-header();
}

#home-sidebar {
  @media (min-width: @screen-md-min) {
    ul.nav {
      .nav-stacked()
    }
  }
}

#juego-header {
  h3 {
    font-family: 'Cabin Sketch', cursive;
  }
  .papas-header();
  background-size: 50%;
}

#meteor-container {
  min-height: 500px;
  padding-bottom: 50px;
}

.btn {
  .btn-lg();
}

.etapa-thumb {
  @media (max-width: @screen-sm-min) {
    min-height: 315px;
  }
  @media (max-width: @screen-md-min) {
    min-height: 360px;
  }
}

.fin-etapa-titulo {
  color: @brand-success;
}