body {
  &.home {
    .container {
      padding-top: 4em;
    }
  }
  &:not(.home) {
    .container {
      margin-top: 10px;
      padding: 1em;
      background-color: rgba(255, 255, 255, 0.5);
      .rounded(10px);
      margin-bottom: 120px;
    }
  }
}

.papas-header {
  font-family: 'Cabin Sketch', cursive;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 1.2em 1em;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

#home-header {
  font-size: 4em;
  .papas-header();
}

#juego-header {
  font-size: 2em;
  .papas-header();
  background-size: 50%;
}

#meteor-container {
  min-height: 500px;
  padding-bottom: 50px;
}
