ul.nav-papas {
  li {
    @h: @nav-papas-btn-height;
    @w: @nav-papas-btn-width;
    a {
      color: white;
      font-family: 'Skranji', cursive;
      font-size: 14pt;

      text-align: center;
      vertical-align: middle;
      padding-top: 35px;

      height: @h;
      width: @w;
    }
  }
}
